.ferrari {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-style: italic;
}

.nav-ferrari,
.nav-item,
.navbar-brand,
.nav-link {
  background-color: #cc0000;
  margin: 0;
  padding: 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9058823529);
}

.navbar-brand {
  margin-right: auto;
}

.cavallino-nav {
  margin: 0 15px;
  width: 50px;
  height: 75px;
}

h4 {
  color: rgba(255, 255, 255, 0.9058823529);
  margin-left: 130px;
  position: relative;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9058823529);
  margin-top: 25px;
  font-size: 18px;
}

.index .video-enzo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.index .video-enzo video {
  display: grid;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  margin-top: -175%;
}
.index .h1-index {
  margin-top: -120%;
  margin-bottom: 10%;
}
.index .frases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 30px 10px 0 0;
  text-align: center;
}
.index .frases .card {
  flex-basis: calc(50% - 10px);
  width: 500px;
  height: 320px;
}
.index section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.index section .ferrari-cards {
  display: flex;
  justify-items: center;
  margin-top: 30px;
  background-color: #cc0000;
  height: 280px;
  width: 500px;
}
.index section .ferrari-cards .card {
  align-items: center;
}
.index section .ferrari-cards .card-title {
  text-align: center;
}

.racing-f1 section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1rem;
  flex-wrap: wrap;
}
.racing-f1 section .racing-texto,
.racing-f1 section article {
  display: flex;
  text-align: center;
  width: 80vw;
  margin: 5% 0;
}
.racing-f1 section .racing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.racing-f1 section .racing iframe {
  width: 75vw;
  height: 80vh;
}
.racing-f1 section .premios .card-body {
  text-align: center;
  height: 200px;
  width: 250px;
}
.racing-f1 section .premios .card-text {
  font-size: 1rem;
}
.racing-f1 section .racing-texto2 {
  display: none;
}

.sportcars section {
  display: flex;
  flex-wrap: wrap;
}
.sportcars section .ferrari-sportcards {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  background-color: #242526;
  width: 100%;
  color: rgba(255, 255, 255, 0.9058823529);
  margin: 2% 0;
  width: 500px;
  height: 300px;
}
.sportcars section .ferrari-sportcards .card-title {
  text-align: center;
}

.classics section {
  display: grid;
  justify-content: center;
}
.classics section .ferrari-classics {
  display: grid;
  color: #000000;
  margin: 5% 0;
  gap: 20px;
  height: 200px;
  background-color: #cc0000;
}
.classics section img {
  width: 100%;
  height: 10rem;
}
.classics section .card-title {
  text-align: center;
  margin-top: -25px;
}

.timeline section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.timeline section .ferrari-timeline {
  display: flex;
  background-color: #cc0000;
}
.timeline section .linea-de-tiempo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 0;
  gap: 20px;
}
.timeline section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.timeline section h2 .fecha {
  color: rgba(255, 255, 255, 0.9058823529);
}
.timeline section img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}
.timeline section .card-title {
  height: 15px;
  width: 100%;
  margin-top: -10px;
  text-align: center;
  color: #000000;
  font-size: 18px;
}

footer {
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.9058823529);
  margin-top: 2rem;
  margin: 10% 3rem;
  font-size: 12px;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}
footer:hover {
  opacity: 0;
}

@media screen and (min-width: 600px) {
  .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    overflow: hidden;
  }
  .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -170%;
  }
  .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px 0 0;
    text-align: center;
  }
  .frases .card {
    flex-basis: calc(50% - 10px);
    width: 500px;
    height: 280px;
  }
  .h1-index {
    margin-top: -120%;
    margin-bottom: 10%;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  section .ferrari-cards {
    display: flex;
    justify-items: center;
    margin-top: 30px;
    background-color: #cc0000;
  }
  section .ferrari-cards .card {
    width: 20rem;
    align-items: center;
  }
  section .ferrari-cards .card-title {
    text-align: center;
  }
  .racing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .racing iframe {
    width: 75vw;
    height: 30vh;
  }
  .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.9058823529);
    margin-top: 2rem;
    margin: 0 6.5rem;
    font-size: 12px;
    padding: 5%;
  }
  footer:hover {
    opacity: 0;
  }
  .classics section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
    justify-content: center;
  }
  .classics section .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 20px;
    height: 200px;
    background-color: #cc0000;
  }
  .classics section img {
    width: 100%;
    height: 10rem;
  }
  .classics section .card-title {
    text-align: center;
    margin-top: -25px;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    color: #000000;
    text-align: center;
    background-color: #cc0000;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    gap: 20px;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .timeline section div {
    width: 80vw;
  }
  .timeline section .card-title {
    display: flex;
    width: 100%;
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .index .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    overflow: hidden;
  }
  .index .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -30%;
  }
  .index .h1-index {
    margin-top: -15%;
    margin-bottom: 10%;
  }
  .index .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px 0 0;
    text-align: center;
  }
  .index .frases .card {
    flex-basis: calc(50% - 10px);
    width: 500px;
    height: 280px;
  }
  .index section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .index section .ferrari-cards {
    display: flex;
    justify-items: center;
    margin-top: 30px;
    background-color: #cc0000;
    height: 280px;
    width: 500px;
  }
  .index section .ferrari-cards .card {
    align-items: center;
  }
  .index section .ferrari-cards .card-title {
    text-align: center;
  }
  .index section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .index section .ferrari-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: #cc0000;
  }
  .index section .ferrari-cards .card-title {
    text-align: center;
  }
  .racing-f1 section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9058823529);
    font-size: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .racing-f1 section .racing-texto,
  .racing-f1 section article {
    display: flex;
    text-align: center;
  }
  .racing-f1 .racing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .racing-f1 .racing iframe {
    width: 75vw;
    height: 80vh;
  }
  .racing-f1 .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100vw;
    height: 80vh;
  }
  .racing-f1 .racing-texto2 {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.9058823529);
    margin: 5rem 1rem;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.9058823529);
    margin-top: 2rem;
    margin: 0 15rem;
    font-size: 12px;
    padding: 5%;
  }
  footer:hover {
    opacity: 0;
  }
  .ferrari-sportcards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .ferrari-sportcards .card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .classics section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80vw;
  }
  .classics section .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 20px;
    height: 200px;
    background-color: #cc0000;
  }
  .classics section img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .classics section .card-title {
    text-align: center;
    margin-top: -25px;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    display: flex;
    color: #000000;
    text-align: center;
    background-color: #cc0000;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
    gap: 20px;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
  }
  .timeline section div {
    width: 80vw;
  }
  .timeline section .card-title {
    display: flex;
    font-size: 16px;
    width: 100%;
    height: 15px;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
