html {
  font-size: 62.5%;
}

.ferrari {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-style: italic;
}

h4 {
  text-align: center;
  color: #000000;
}

.timeline section .card-title, .timeline section div, .timeline section img, .classics img, .sportcars img, .index .ferrari-cards img {
  width: 100%;
}

.nav-ferrari,
.nav-item,
.navbar-brand,
.nav-link {
  background-color: #cc0000;
  margin: 0;
  padding: 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1.6rem;
}

.navbar-brand {
  margin-right: auto;
}

.cavallino-nav {
  margin: 0 1.5rem;
  width: 5rem;
  height: 7.5rem;
}

h1,
h2 {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9058823529);
  text-align: center;
  margin: 3% 0;
}

.index {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.index .video-enzo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.index .video-enzo video {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin-top: -80%;
}
.index .h1-index {
  margin-top: -80%;
  margin-bottom: 10%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9058823529);
}
.index .h2-index {
  margin-top: 120%;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.9058823529);
}
.index .frases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 3rem 0;
  text-align: center;
  font-size: 1.5rem;
  height: 40rem;
}
.index .frase-corta {
  font-size: 1.8rem;
}
.index .ferrari-cards {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
  margin-top: 10%;
  height: 20rem;
  border-radius: 50%;
}
.index .ferrari-cards .card {
  background-color: #cc0000;
  margin-top: 5%;
}
.index .ferrari-cards img {
  height: 16.5rem;
  object-fit: cover;
  border-radius: 50%;
}
.index .ferrari-cards .card-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1.3rem;
  margin-top: -0.7rem;
}

.racing-f1 section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1rem;
  flex-wrap: wrap;
}
.racing-f1 section .racing-texto,
.racing-f1 section article {
  display: flex;
  text-align: center;
  width: 80vw;
  margin: 5% 0;
  font-size: 1.6rem;
}
.racing-f1 .premios {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  justify-content: center;
  text-align: center;
}
.racing-f1 .premios .card-body {
  height: 18rem;
}
.racing-f1 .premios .card-text,
.racing-f1 .premios .card-title {
  font-size: 1.5rem;
}
.racing-f1 .racing-texto2 {
  display: none;
}
.racing-f1 h2 {
  display: none;
}
.racing-f1 .racing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.racing-f1 .racing iframe {
  width: 80vw;
  height: 30vh;
  margin-bottom: 5%;
}

.sportcars section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}
.sportcars .ferrari-sportcards {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  background-color: #242526;
  width: 100%;
  color: rgba(255, 255, 255, 0.9058823529);
  margin: 2% 0;
  height: 25rem;
  border-radius: 50%;
}
.sportcars .ferrari-sportcards .card-title {
  text-align: center;
}
.sportcars img {
  height: 20rem;
  border-radius: 50%;
}
.sportcars .card-title {
  text-align: center;
  font-size: 1.3rem;
  margin-top: -4.6rem;
}

.classics {
  display: grid;
  justify-items: center;
}
.classics section .ferrari-classics {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 3rem;
  color: #000000;
  margin: 5% 0;
  height: 16rem;
  background-color: #cc0000;
}
.classics img {
  height: 12rem;
}
.classics .card-title {
  text-align: center;
  height: 1rem;
  font-size: 1.6rem;
  margin-top: -3.8rem;
}

.timeline section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.timeline section .ferrari-timeline {
  background-color: #cc0000;
  width: 50rem;
}
.timeline section .linea-de-tiempo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  gap: 3rem;
}
.timeline section .fecha {
  color: rgba(255, 255, 255, 0.9058823529);
}
.timeline section img {
  height: 16rem;
}
.timeline section .card-title {
  display: flex;
  height: 2.5rem;
  text-align: center;
  color: #000000;
  font-size: 1.8rem;
}

footer {
  display: grid;
  justify-content: center;
}
footer a {
  display: grid;
  grid-template-columns: repeat(4 1fr);
  margin: 50% 0 15% 0;
  width: 5rem;
  height: 3rem;
}
footer .cavallino-footer {
  display: grid;
  justify-content: center;
  margin: -15% 0 50% 0;
}
footer .cavallino-footer a {
  display: grid;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  h1,
  h2 {
    font-size: 2.5rem;
    color: rgba(255, 255, 255, 0.9058823529);
    text-align: center;
    margin: 3% 0;
  }
  .index {
    display: grid;
  }
  .index section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }
  .index .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    overflow: hidden;
  }
  .index .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    margin-top: -55%;
  }
  .index .h1-index {
    margin-top: -50%;
    text-align: center;
  }
  .index .h2-index {
    margin-top: 60%;
    font-size: 3rem;
    text-align: center;
  }
  .index .ferrari-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    margin-top: 10%;
    height: 20rem;
    border-radius: 50%;
  }
  .index .ferrari-cards .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc0000;
    margin-top: 5%;
  }
  .index .ferrari-cards img {
    width: 100%;
    height: 16.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .index .ferrari-cards .card-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9058823529);
    font-size: 1.3rem;
    margin-top: -0.7rem;
  }
  .index .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.9rem;
    height: 20rem;
  }
  .index .frases .frase-corta {
    font-size: 2.6rem;
  }
  .index .frases .frase-media {
    font-size: 2.1rem;
  }
  .index .frases .card-body {
    height: 28rem;
  }
  .racing-f1 .racing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .racing-f1 .racing iframe {
    width: 75vw;
    height: 50vh;
  }
  .racing-f1 .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .classics {
    display: grid;
    justify-items: center;
  }
  .classics section {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .classics section .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 3rem;
    height: 17rem;
    background-color: #cc0000;
  }
  .classics section img {
    width: 100%;
    height: 12rem;
  }
  .classics section .card-title {
    text-align: center;
    margin-top: -2.8rem;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    display: flex;
    color: #000000;
    text-align: center;
    background-color: #cc0000;
    gap: 3rem;
    margin: 0 -0.5rem;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 15rem;
  }
  .timeline section div {
    width: 100%;
  }
  .timeline section .card-title {
    font-size: 1.6rem;
    width: 100%;
    margin-top: -2.4rem;
    height: 0.2rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  h1, h2 {
    font-size: 3rem;
    color: rgba(255, 255, 255, 0.9058823529);
    text-align: center;
    margin: 3% 0;
  }
  .index {
    display: grid;
    justify-content: center;
  }
  .index section {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }
  .index .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vh;
    overflow: hidden;
  }
  .index .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -15%;
  }
  .index .h1-index {
    margin-top: -10%;
    font-size: 4rem;
    text-align: center;
  }
  .index .h2-index {
    margin-top: 15%;
    font-size: 3rem;
    text-align: center;
  }
  .index .frases {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 1rem 0;
    text-align: center;
    font-size: 1.9rem;
  }
  .index .frases .card {
    height: 28rem;
  }
  .index .frases .frase-corta {
    font-size: 2.6rem;
  }
  .index .frases .frase-media {
    font-size: 2.1rem;
  }
  .index .ferrari-cards {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    justify-content: center;
    align-content: center;
    background-color: #cc0000;
    margin-top: 10%;
    height: 20rem;
    border-radius: 50%;
  }
  .index .ferrari-cards .card {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #cc0000;
    margin-top: 5%;
  }
  .index .ferrari-cards img {
    width: 100%;
    height: 16.5rem;
    object-fit: cover;
    border-radius: 50%;
  }
  .index .ferrari-cards .card-title {
    text-align: center;
    color: rgba(255, 255, 255, 0.9058823529);
    font-size: 1.3rem;
    margin-top: -0.7rem;
  }
  .racing-f1 section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9058823529);
    font-size: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .racing-f1 section .racing-texto,
  .racing-f1 section article {
    display: flex;
    text-align: center;
    font-size: 1.8rem;
  }
  .racing-f1 .racing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .racing-f1 .racing iframe {
    width: 75vw;
    height: 80vh;
  }
  .racing-f1 .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    height: 80vh;
  }
  .racing-f1 .racing-texto2 {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.9058823529);
    margin: 5rem 1rem;
  }
  .racing-f1 h2 {
    display: grid;
    text-align: center;
  }
  .classics {
    display: grid;
  }
  .classics section {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  .classics .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 3rem;
    height: 16rem;
    background-color: #cc0000;
  }
  .classics img {
    width: 100%;
    height: 12rem;
  }
  .classics .card-title {
    text-align: center;
    margin-top: -2.8rem;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    display: flex;
    color: #000000;
    text-align: center;
    background-color: #cc0000;
    gap: 3rem;
    margin: 0 -0.5rem;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 15rem;
  }
  .timeline section div {
    width: 100%;
  }
  .timeline section .card-title {
    font-size: 1.6rem;
    width: 100%;
    margin-top: -2.4rem;
    height: 0.2rem;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
