html {
  font-size: 62.5%;
}

.ferrari {
  margin: 0;
  padding: 0;
  background-color: #000000;
  font-style: italic;
}

.nav-ferrari,
.nav-item,
.navbar-brand,
.nav-link {
  background-color: #cc0000;
  margin: 0;
  padding: 0;
  font-style: italic;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1.6rem;
}

.navbar-brand {
  margin-right: auto;
}

.cavallino-nav {
  margin: 0 1.5rem;
  width: 5rem;
  height: 7.5rem;
}

h4 {
  color: rgba(255, 255, 255, 0.9058823529);
  margin-left: 13rem;
  position: relative;
}

h1,
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9058823529);
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

.index .video-enzo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.index .video-enzo video {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin-top: -80%;
}
.index .h1-index {
  margin-top: -50%;
  margin-bottom: 10%;
}
.index .h2-index {
  margin-top: 120%;
}
.index .frases {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  text-align: center;
  font-size: 1.2rem;
  width: 50rem;
  height: 40rem;
}
.index .frase-corta {
  font-size: 1.8rem;
}
.index .frase-media {
  font-size: 1.5rem;
}
.index .card {
  flex-basis: calc(50% - 10px);
  width: 50rem;
  height: 20rem;
}
.index section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.index .ferrari-cards {
  display: grid;
  grid-template-columns: repeat(1 1fr);
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
  margin-top: 10%;
  height: 20rem;
}
.index .ferrari-cards .card {
  width: 10rem;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cc0000;
  margin-top: 5%;
}
.index img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.index .card-title {
  text-align: center;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1.2rem;
}

.racing-f1 section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9058823529);
  font-size: 1rem;
  flex-wrap: wrap;
}
.racing-f1 section .racing-texto,
.racing-f1 section article {
  display: flex;
  text-align: center;
  width: 80vw;
  margin: 5% 0;
}
.racing-f1 section .racing-texto2 {
  display: none;
}
.racing-f1 section .premios .card-body {
  display: flex;
  text-align: center;
  height: 20rem;
  width: 25rem;
}
.racing-f1 section .premios .card-text {
  font-size: 1rem;
}
.racing-f1 .racing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.racing-f1 .racing iframe {
  width: 80vw;
  height: 30vh;
}

.sportcars section {
  display: flex;
  flex-wrap: wrap;
}
.sportcars section .ferrari-sportcards {
  display: grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  background-color: #242526;
  width: 100%;
  color: rgba(255, 255, 255, 0.9058823529);
  margin: 2% 0;
  width: 50rem;
  height: 30rem;
}
.sportcars section .ferrari-sportcards .card-title {
  text-align: center;
}

.classics {
  display: grid;
  justify-items: center;
}
.classics section .ferrari-classics {
  display: grid;
  color: #000000;
  margin: 5% 0;
  gap: 2rem;
  height: 16rem;
  background-color: #cc0000;
}
.classics section img {
  width: 100%;
  height: 12rem;
}
.classics section .card-title {
  text-align: center;
  height: 1rem;
  font-size: 1.6rem;
  margin-top: -1.5rem;
}

.timeline section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.timeline section .ferrari-timeline {
  background-color: #cc0000;
  width: 50rem;
}
.timeline section .linea-de-tiempo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5rem 0;
  gap: 2rem;
}
.timeline section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}
.timeline section h2 .fecha {
  color: rgba(255, 255, 255, 0.9058823529);
}
.timeline section img {
  width: 100%;
  height: 16rem;
}
.timeline section .card-title {
  display: flex;
  height: 2.5rem;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 1.8rem;
}

footer {
  flex-wrap: wrap;
  color: rgba(255, 255, 255, 0.9058823529);
  margin-top: 2rem;
  font-size: 1.6rem;
  padding: 5%;
}

@media screen and (min-width: 600px) {
  .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    overflow: hidden;
  }
  .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -170%;
  }
  .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px 0 0;
    text-align: center;
  }
  .frases .card {
    flex-basis: calc(50% - 10px);
    width: 500px;
    height: 280px;
  }
  .h1-index {
    margin-top: -120%;
    margin-bottom: 10%;
  }
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  section .ferrari-cards {
    display: flex;
    justify-items: center;
    margin-top: 30px;
    background-color: #cc0000;
  }
  section .ferrari-cards .card {
    width: 20rem;
    align-items: center;
  }
  section .ferrari-cards .card-title {
    text-align: center;
  }
  .racing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .racing iframe {
    width: 75vw;
    height: 30vh;
  }
  .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  footer {
    display: grid;
    color: rgba(255, 255, 255, 0.9058823529);
    margin-top: 2rem;
    margin: 0 6.5rem;
    font-size: 12px;
    padding: 5%;
  }
  .classics {
    display: grid;
    justify-items: center;
  }
  .classics section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .classics section .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 2rem;
    height: 17rem;
    background-color: #cc0000;
  }
  .classics section img {
    width: 100%;
    height: 12rem;
  }
  .classics section .card-title {
    text-align: center;
    margin-top: -2.6rem;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    display: flex;
    color: #000000;
    text-align: center;
    background-color: #cc0000;
    gap: 2rem;
    margin: 0 -0.5rem;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 15rem;
  }
  .timeline section div {
    width: 80vw;
  }
  .timeline section .card-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    width: 100%;
    margin-top: -2%;
    height: 0.2rem;
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .index .video-enzo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    overflow: hidden;
  }
  .index .video-enzo video {
    display: grid;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin-top: -30%;
  }
  .index .h1-index {
    margin-top: -15%;
    margin-bottom: 10%;
    font-size: 3rem;
  }
  .index .h2-index {
    font-size: 3rem;
    margin-top: 15%;
  }
  .index .frases {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 1rem 0 0;
    text-align: center;
    width: 100%;
  }
  .index .frases .card {
    flex-basis: calc(50% - 10px);
    width: 50rem;
    height: 28rem;
  }
  .index section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  .index section .ferrari-cards {
    display: flex;
    justify-items: center;
    margin-top: 3rem;
    background-color: #cc0000;
    height: 16rem;
  }
  .index section .ferrari-cards .card {
    align-items: center;
  }
  .index section .ferrari-cards .card-title {
    text-align: center;
  }
  .index img {
    width: 100%;
    height: 12rem;
  }
  .index section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  .index section .ferrari-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background-color: #cc0000;
  }
  .index section .ferrari-cards .card-title {
    text-align: center;
  }
  .racing-f1 section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.9058823529);
    font-size: 1rem;
    flex-wrap: wrap;
    margin-bottom: 5%;
  }
  .racing-f1 section .racing-texto,
  .racing-f1 section article {
    display: flex;
    text-align: center;
  }
  .racing-f1 .racing {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .racing-f1 .racing iframe {
    width: 75vw;
    height: 80vh;
  }
  .racing-f1 .premios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 100vw;
    height: 80vh;
  }
  .racing-f1 .racing-texto2 {
    display: flex;
    text-align: center;
    color: rgba(255, 255, 255, 0.9058823529);
    margin: 5rem 1rem;
  }
  footer {
    color: rgba(255, 255, 255, 0.9058823529);
    margin-top: 2rem;
    margin: 0 15rem;
    font-size: 1.6rem;
    padding: 5%;
  }
  .ferrari-sportcards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .ferrari-sportcards .card {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
  .classics {
    display: grid;
    justify-items: center;
  }
  .classics section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .classics section .ferrari-classics {
    display: grid;
    color: #000000;
    margin: 5% 0;
    gap: 2rem;
    height: 16rem;
    background-color: #cc0000;
  }
  .classics section img {
    width: 100%;
    height: 12rem;
  }
  .classics section .card-title {
    text-align: center;
    margin-top: -2.6rem;
  }
  .timeline section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .timeline section .ferrari-timeline {
    display: flex;
    color: #000000;
    text-align: center;
    background-color: #cc0000;
    gap: 2rem;
    margin: 0 -0.5rem;
  }
  .timeline section .linea-de-tiempo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .timeline section h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  .timeline section h2 .fecha {
    color: rgba(255, 255, 255, 0.9058823529);
  }
  .timeline section img {
    width: 100%;
    height: 15rem;
  }
  .timeline section div {
    width: 80vw;
  }
  .timeline section .card-title {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    width: 100%;
    margin-top: -2%;
    height: 0.2rem;
    text-align: center;
  }
}

/*# sourceMappingURL=styles.css.map */
