h1,
h2 {
  font-size: 2rem;
  color: $light;
  text-align: center;
  margin: 3% 0;
}




// Index

.index {


  @include flex-center;
  flex-wrap: wrap;
  gap: 3rem;


  .video-enzo {
    @include flex-center;
    height: 100vh;
    overflow: hidden;

    video {
      display: grid;
      width: 100vw;
      height: 100vh;
      margin-top: -80%;
    }
  }

  .h1-index {
    margin-top: -80%;
    margin-bottom: 10%;
    font-size: 2rem;
    color: $light;
  }

  .h2-index {
    margin-top: 120%;
    font-size: 2rem;
    color: $light;
  }

  .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
    margin: 3rem 0;
    text-align: center;
    font-size: 1.5rem;
    height: 40rem;
  }

  .frase-corta {
    font-size: 1.8rem;
  }

  .ferrari-cards {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
    align-items: center;
    background-color: $rojo-ferrari;
    margin-top: 10%;
    height: 20rem;
    border-radius: 50%;

    .card {
      background-color: $rojo-ferrari;
      margin-top: 5%;

    }


    img {
      @extend %full-width;
      height: 16.5rem;
      object-fit: cover;
      border-radius: 50%;

    }


    .card-title {
      text-align: center;
      color: $light;
      font-size: 1.3rem;
      margin-top: -0.7rem;

    }

  }

}

// Racing
.racing-f1 {


  section {
    @include flex-center;
    color: $light;
    font-size: 1rem;
    flex-wrap: wrap;


    .racing-texto,
    article {
      display: flex;
      text-align: center;
      width: 80vw;
      margin: 5% 0;
      font-size: 1.6rem;
    }
  }


  .premios {

    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
    text-align: center;


    .card-body {
      height: 18rem;
    }



    .card-text,
    .card-title {
      font-size: 1.5rem;
    }
  }

  .racing-texto2 {
    display: none;
  }

  h2 {
    display: none;
  }

  .racing {
    @include flex-center;

    iframe {
      width: 80vw;
      height: 30vh;
      margin-bottom: 5%;
    }

  }


}


// Sport Cards

.sportcars {
  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gap;
  }

  .ferrari-sportcards {
    display: grid;
    @include cars;
    color: $light;
    margin: 2% 0;
    height: 25rem;
    border-radius: 50%;

  }

  img {
    @extend %full-width;
    height: 20rem;
    border-radius: 50%;
  }

  .card-title {
    text-align: center;
    font-size: 1.3rem;
    margin-top: -4.6rem;
  }




}


// Classics
.classics {

  display: grid;
  justify-items: center;

  section {

    .ferrari-classics {
      @include card-horizontal-row;
      color: $dark;
      margin: 5% 0;
      height: 16rem;
      background-color: $rojo-ferrari;

    }
  }

  img {
    @extend %full-width;
    height: 12rem;
  }

  .card-title {
    text-align: center;
    height: 1rem;
    font-size: 1.6rem;
    margin-top: -3.8rem;

  }



}


// Timeline

.timeline {


  section {

    @include flex-center;
    flex-wrap: wrap;

    .ferrari-timeline {
      background-color: $rojo-ferrari;
      width: 50rem;

    }


    .linea-de-tiempo {
      @include flex-center;
      flex-wrap: wrap;
      margin: 1.5rem 0;
      gap: $gap;
    }

    .fecha {
      color: $light;
    }


    img {
      @extend %full-width;
      height: 16rem;
    }

     div {
      @extend %full-width;
     }

    .card-title {
      display: flex;
      height: 2.5rem;
      @extend %full-width;
      text-align: center;
      color: $dark;
      font-size: 1.8rem;
    }




  }

}