$rojo-ferrari: #cc0000;
$dark: #000000;
$light: #ffffffe7;
$cards: #242526;
$gap :3rem;

html {
  font-size: 62.5%;
}


.ferrari {
  @include ferrari;
  background-color: $dark;
  font-style: italic;


}


h4 {
 text-align: center;
 color: $dark;
}

%full-width {
  width: 100%;
}





