$rojo-ferrari: #cc0000;
$dark: #000000;
$light: #ffffffe7;
$cards: #242526;
$gap :3rem;

html {
  font-size: 62.5%;
}


.ferrari {
  @include ferrari;
  background-color: $dark;
  font-style: italic;


}



h1,h2 {
  font-size: 3rem;
  color: $light;
  text-align: center;
  margin: 3% 0;
}


h4 {
 text-align: center;
 color: $dark;
}





