.nav-ferrari,
.nav-item,
.navbar-brand,
.nav-link {
  background-color: $rojo-ferrari; // Rojo Ferrari
  @include ferrari;
  font-style: italic;
  color: $light;
  font-size: 1.6rem;
}

.navbar-brand {
  margin-right: auto;
}

.cavallino-nav {
  margin: 0 1.5rem;
  width: 5rem;
  height: 7.5rem;
  
}
