h4 {
  color: $light;
  margin-left: 130px;
  position: relative;
}

h1,
h2 {
  @include flex-center;
  color: $light;
  margin-top: 25px;
  font-size: 18px;
}

// Index

.index {

  .video-enzo {
    @include flex-center;
    height: 100vh;
    overflow: hidden;

    video {
      display: grid;
      width: 100vw;
      height: 100vh;
      max-width: 100%;
      margin-top: -175%;
    }
  }

  .h1-index {
    margin-top: -120%;
    margin-bottom: 10%;
  }

  .frases {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px 10px 0 0;
    text-align: center;

    .card {
      flex-basis: calc(50% - 10px);
      width: 500px;
      height: 320px;
    }
  }

  section {
    @include flex-center;
    gap: 30px;

    .ferrari-cards {
      display: flex;
      justify-items: center;
      margin-top: 30px;
      background-color: $rojo-ferrari;
      height: 280px;
      width: 500px;

      .card {
        align-items: center;
      }

      .card-title {
        text-align: center;
      }
    }
  }

}

// Racing
.racing-f1 {


  section {
    @include flex-center;
    color: $light;
    font-size: 1rem;
    flex-wrap: wrap;

    .racing-texto,
    article {
      display: flex;
      text-align: center;
      width: 80vw;
      margin: 5% 0;
    }


    .racing {
      @include flex-center;


      iframe {
        width: 75vw;
        height: 80vh;
      }
    }

    .premios {
      .card-body {
        text-align: center;
        height: 200px;
        width: 250px;
      }

      .card-text {
        font-size: 1rem;
      }
    }

    .racing-texto2 {
      display: none;
    }

  }

}

// Sport Cards

.sportcars {
  section {
    display: flex;
    flex-wrap: wrap;

    .ferrari-sportcards {
      display: grid;
      @include cars;
      color: $light;
      margin: 2% 0;
      width: 500px;
      height: 300px;
    }
  }

}


// Classics
.classics {

  section {
    display: grid;
    justify-content: center;

    .ferrari-classics {
      display: grid;
      color: $dark;
      margin: 5% 0;
      gap: $gap;
      height: 200px;
      background-color: $rojo-ferrari;

    }

    img {
      width: 100%;
      height: 10rem;
    }

    .card-title {
      text-align: center;
      margin-top: -25px;

    }

  }

}





// Timeline

.timeline {

  section {
    @include flex-center;
    flex-wrap: wrap;

    .ferrari-timeline {
      display: flex;
      background-color: $rojo-ferrari;
    }

    .linea-de-tiempo {
      @include flex-center;
      flex-wrap: wrap;
      margin: 15px 0;
      gap: $gap;
    }

    h2 {
      @include flex-center;
      font-size: 40px;

      .fecha {
        color: $light;
      }
    }

    img {
      width: 100%;
      height: 10rem;
      object-fit: cover;
    }

    .card-title {
      height: 15px;
      width: 100%;
      margin-top: -10px;
      text-align: center;
      color: $dark;
      font-size: 18px;
    }


  }

}