h4 {
  color: $light;
  margin-left: 13rem;
  position: relative;
}

h1,
h2 {
  @include flex-center;
  color: $light;
  margin-top: 2.5rem;
  font-size: 1.6rem;
}

// Index

.index {

  .video-enzo {
    @include flex-center;
    height: 100vh;
    overflow: hidden;

    video {
      display: grid;
      width: 100vw;
      height: 100vh;
      margin-top: -80%;
    }
  }

  .h1-index {
    margin-top: -50%;
    margin-bottom: 10%;
  }

  .h2-index {
    margin-top: 120%;
  }

  .frases {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
    gap: $gap;
    margin: 3rem 0;
    text-align: center;
    font-size: 1.2rem;
    width: 50rem;
    height: 40rem;
  }

  .frase-corta {
    font-size: 1.8rem;
  }

  .frase-media {
    font-size: 1.5rem;
  }

  .card {
    flex-basis: calc(50% - 10px);
    width: 50rem;
    height: 20rem;
  }


  section {
    @include flex-center;
    flex-wrap: wrap;
    gap: 3rem;
  }

  .ferrari-cards {
    display: grid;
    grid-template-columns: repeat(1 1fr);
    justify-content: center;
    align-items: center;
    background-color: $rojo-ferrari;
    margin-top: 10%;
    height: 20rem;


    .card {
      width: 10rem;
      height: 15rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $rojo-ferrari;
      margin-top: 5%;
    }
  }

  img {
    width: 100%;
    height: 16rem;
    object-fit: cover;

  }

  .card-title {
    text-align: center;
    color: $light;
    font-size: 1.2rem;
  }



}

// Racing
.racing-f1 {


  section {
    @include flex-center;
    color: $light;
    font-size: 1rem;
    flex-wrap: wrap;


    .racing-texto,
    article {
      display: flex;
      text-align: center;
      width: 80vw;
      margin: 5% 0;
    }

    .racing-texto2 {
      display: none;
    }

    .premios {
      .card-body {
        display: flex;
        text-align: center;
        height: 20rem;
        width: 25rem;
      }

      .card-text {
        font-size: 1rem;
      }
    }


  }

  .racing {
    @include flex-center;

    iframe {
      width: 80vw;
      height: 30vh;
    }

  }


}

// Sport Cards

.sportcars {
  section {
    display: flex;
    flex-wrap: wrap;

    .ferrari-sportcards {
      display: grid;
      @include cars;
      color: $light;
      margin: 2% 0;
      width: 50rem;
      height: 30rem;
    }
  }

}


// Classics
.classics {
  display: grid;
  justify-items: center;

  section {

    .ferrari-classics {
      display: grid;
      color: $dark;
      margin: 5% 0;
      gap: $gap;
      height: 16rem;
      background-color: $rojo-ferrari;

    }

    img {
      width: 100%;
      height: 12rem;
    }

    .card-title {
      text-align: center;
      height: 1rem;
      font-size: 1.6rem;
      margin-top: -1.5rem;

    }

  }

}


// Timeline

.timeline {


  section {

    @include flex-center;
    flex-wrap: wrap;

    .ferrari-timeline {
      background-color: $rojo-ferrari;
      width: 50rem;
    }


    .linea-de-tiempo {
      @include flex-center;
      flex-wrap: wrap;
      margin: 1.5rem 0;
      gap: $gap;
    }

    h2 {
      @include flex-center;
      font-size: 4rem;

      .fecha {
        color: $light;
      }
    }

    img {
      width: 100%;
      height: 16rem;
    }

    .card-title {
      display: flex;
      height: 2.5rem;
      width: 100%;
      text-align: center;
      color: $dark;
      font-size: 1.8rem;
    }


  }

}